#about{
    background: var(--white);
    padding: 7% 0 7% 0
}

.container img{
    width:100%;
    padding-left: 3%;
}

.container h4{
    text-align: center;
    font-size: 300%;
    padding-bottom: 7%;
}
.icons{
    text-align: right;
}

#linkedIn{
    width:15%;
}
#github{
    width:18%;
}