body {
    background: var(--blue)
}
.spacer{
    background: var(--turquoise);
    padding: 5% 0 5% 0;
}
.spacer h1{
    color: var(--white);
    font-family: var(--font-four);
    text-align: right;
    font-size: 300%;
}
.spacer cite{
    padding:0 0 0 55%;
    color: var(--white);
    font-family: var(--font-five);
    font-size: 200%;
}

#target{
    width: 70%;
    padding-left:15%;
}
#philosophy{
    background: url('../assests/bg/bg-3.jpg') no-repeat center center fixed;
    background-size:cover;
    padding: 5% 0 5% 0;
    color: var(--white);
    font-family: var(--font-four);
    font-weight:bold;
}
#philosophy h1{
    text-align: center;
    font-size:350%;
    padding: 0 0 2% 0;
}
#philosophy h2{
    font-size:250%;
    text-align: center;
    padding: 0 0 2% 0;
}
#philosophy img{
    width:25%;
}
.QA{
    text-align: center;
}
#hobbies{
    background: var(--turquoise);
    padding: 6% 0 10% 0;
    font-family: var(--font-seven);
}
#hobbies h1{
    text-align:center;
    padding-bottom: 5%;
    color:var(--white);
    font-style: var(--font-seven);

}
#hobbies p{
    color: var(--white);
}
#hobbies h5{
    color: var(--white);
}
.hobbies img:hover{
    transform: scale(1.1);
}
.hobbies h5{
    padding-top: 4.5%;
    text-align: center;
}
.hobbies p{
    text-align: center;
}

@media only screen and (max-width: 600px){
    .spacer h1{
        font-size: 100%;
    }
    .spacer cite{
        font-size:70%;
    }
    #hobbies h1{
        font-size: 100%;
    }
    #hobbies h5{
        font-size: 80%;
    }
    #hobbies p{
        font-size: 50%;
    }
    #philosophy h1{
        font-size: 100%;
    }
    #philosophy h2{
        font-size: 100%;
    }
}
