#contact{
    background: var(--turquoise);
    padding: 6% 0 10% 0;
    font-family: var(--font-four);

}
#contact h1{
    text-align: center;
    padding-bottom: 15px;
    color: var(--white);
    font-size:350%;
}
#contact p{
    text-align: center;
    padding-bottom: 5px;
    color: var(--white);
    font-size:120%;

}
@media only screen and (max-width: 600px){
    #contact h1{
        font-size: 150%;
    }
    #contact p{
        font-size:100%;
    }
}