#contact{
    background: var(--turquoise);
    padding: 5% 0 10% 0;
}

#contact h1{
    text-align: center;
    padding-bottom: 15px;
    color: var(--white);
}

#contact p{
    text-align: center;
    padding-bottom: 5px;
    color: var(--white);
}