#education{
    background: var(--white);
    padding: 5% 0 5% 0;
    font-family: var(--font-seven);

}
#education h1{
    text-align: center;
    padding-bottom:5%;
    font-size:270%;
}
.resume{
    text-align: center;
    padding: 4%;
}
.resume p{
    text-align: center;
}
#resumeEducation{
    width:10%;
}
@media only screen and (max-width: 550px){
    #education h1{
        font-size: 100%;
    }
    #education h7{
        font-size: 55%;
    }
    #education h5{
        font-size: 57%;
    }
    #education p{
        font-size: 57%;
    }
    #education a{
        font-size: 57%;
    }
}