.footer{
    background: #3C3C3C;
    padding: 3% 5% ;
    color: var(--white);
}
.iconsFoot{
    text-align:center;
    padding-right:3.5%;
}
#linkedInFoot{
    width:2.75%;
}
#githubFoot{
    width:3%;
}
#resumeFoot{
    width:4%;
}
.copyright{
    text-align:center;
}

@media (max-width:600px) {
    #linkedInFoot{
        width:10%;
    }
    #githubFoot{
        width:10%;
    }
    #resumeFoot{
        width:13%;
    }  
}