.header{
    background: url('../assests/bg/bg-1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.logo{
    text-align:center;
    margin-bottom: 30px;
    padding-top: 7%;
}

.filler{
    text-align: center;
    padding: 2% 0% 22% 0%;


}