.header{
    background: url('../assests/bg/bg-1.jpg') no-repeat center center fixed;
    background-size: cover;
}
#carousel{
    text-align:center;
    color: var(--white);
    font-size: 50px;
    padding: 0% 0% 22% 0%;
    font-family: var(--font-six);
    font-size: 350%;
}
.logo{
    text-align:center;
    margin-bottom: 30px;
    padding-top: 10%;
}

.filler{
    text-align: center;
    padding: 2% 0% 22% 0%;
    
}
@media only screen and (max-width: 600px){
    .logo{
        padding-top:20%;        
    }
    #carousel p{
        font-size: 45%;
    }
}