.navbar-brand {
    font-family: var(--font-six);
    color: white;
}
.nav-link {
    color: white;
    font-family: var(--font-four);
}
nav {
    background: var(--black);
    z-index: 2;
}
.navbar-toggler{
    background-color: white;
    color:black;
    margin-right: 3%;
    font-size:75%;
    padding-left:.65%;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 1.25% 2;
    display:flex;
    justify-content: space-between;
}

.education-link span{
    visibility: hidden;
}

#navbarSupportedContent{
    flex-grow:0;
}

@media(min-width:1024px){
    .navbar{
        padding: 1.25% 20%;
    }

    .education-link span{
        visibility:unset;
    }
}
