.navbar-brand {
    font-family: var(--font-six);
    color: white;
}
.nav-link {
    color: white;
    font-family: var(--font-four);
}
nav {
    background: var(--black);
    z-index: 2;
}
.navbar-toggler{
    background-color: white;
    color:white;
    margin-right: 2%;
}
.line{
    background-color:black;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 1.25%;
}

#navbarSupportedContent{
    padding: 0 0 0 46%;
}
