.navbar-brand {
    font-family: var(--font-one);
    color: white;
}

.nav-link {
    color: white;
    font-family: var(--font-two);
}

nav {
    background: var(--black);
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 1.25%;
}
#navbarSupportedContent{
    position: right;
    padding: 0 0 0 50%;
}