#projects{
    background: var(--white);
    padding: 5% 0 10% 0;
    font-family: var(--font-seven);

}
#projects h1{
    text-align: center;
    padding: 0 0 10% 0;
}
.firstproject h5{
    text-align: center;
}
.firstproject p{
    text-align: center;
}