#projects{
    background: var(--white);
    padding: 5% 0 10% 0;
    font-family: var(--font-seven);

}
#projects h1{
    text-align: center;
    padding: 0 0 10% 0;
}
.project h5{
    text-align: center;
}
.project p{
    text-align: center;
}
 @media only screen and (max-width: 600px){
    #projects h1{
        font-size: 100%;
    }
    .project h5{
        font-size: 60%;
    }
    .project p{
        font-size: 55%;
    }
 }